@import "../../styles/utils";

.Workspace {
  @include square(100%);

  &__unselected {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: 700;
    font-size: 21px;
  }
}
