@font-face {
  font-family: "San Francisco";
  src: url("./fonts/SFUIText-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "San Francisco";
  src: url("./fonts/SFUIText-Regular.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "San Francisco";
  src: url("./fonts/SFUIText-Semibold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "San Francisco";
  src: url("./fonts/SFUIText-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}
