@mixin square($width) {
  width: $width;
  height: $width;
}

@mixin transition {
  transition: all 0.3s ease-in-out;
}

@mixin onSmallScreen {
  @media (max-width: 539px) {
    @content;
  }
}

@mixin onSmartphone {
  @media (min-width: 540px) {
    @content;
  }
}

@mixin onTablet {
  @media (min-width: 820px) {
    @content;
  }
}
