$gray-color: #454645;
$gray-text-color: #888886;
$light-gray-color: #efefed;

$scrollbar-color: #c3c3c3;
$scrollbar-bg-color: #fafafa;

$header-height: 42px;
$header-tablet-height: 60px;
$header-button-width: 46px;
$header-button-tablet-width: 64px;
$header-button-height: 26px;
$header-button-tablet-height: 32px;

$search-smartphone-width: 158px;
$search-tablet-width: 240px;

$sidebar-width: 172px;
$sidebar-tablet-width: 320px;

$base-shift: 16px;