@import "../../styles/utils";

.Header {
  padding: 0 8px;
  height: $header-height;

  background: rgb(215,213,215);
  background: linear-gradient(0deg, rgba(215,213,215,1) 0%, rgba(238,237,238,1) 100%);
  border-bottom: 1px solid #B4B3B5;
  @include transition;

  @include onTablet {
    padding: 0 28px;
    height: $header-tablet-height;
  }

  &__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include square(100%);
  }
}
