@import "../../styles/utils";

.Sidebar {
  flex-shrink: 0;
  width: $sidebar-width;
  overflow-y: scroll;
  @include transition;

  @include onTablet {
    width: $sidebar-tablet-width;
  }

  &::-webkit-scrollbar {
    width: 12px;

    @include onTablet {
      width: 14px;
    }
  }

  &::-webkit-scrollbar-track {
    background-color: $scrollbar-bg-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollbar-color;
    border-radius: 20px;
    border: 3px solid $scrollbar-bg-color;
  }

  &__list {
    display: flex;
    flex-direction: column;
    border-right: 1px solid $light-gray-color;
  }
}
