@import "../../styles/utils";

.ControlButtons {
  display: flex;
  align-items: center;
  gap: 8px;

  @include onTablet {
    gap: 12px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: $header-button-width;
    height: $header-button-height;

    background: linear-gradient(0deg, rgba(242,242,243,1) 0%, rgba(253,252,253,1) 100%);
    box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
    border: 1px solid #FDFCFD;
    border-radius: 4px;
    cursor: pointer;
    @include transition;

    @include onTablet {
      width: $header-button-tablet-width;
      height: $header-button-tablet-height;
    }

    &:hover:not(:disabled) {
      background: linear-gradient(0deg, rgba(232,232,232,1) 0%, rgba(254,254,254,1) 100%);
    }

    &:disabled {
      opacity: 0.5;
      cursor: default;
    }
  }

  &__icon {
    @include onTablet {
      @include square(20px);
    }
  }
}
